{{#if label}}
	<label>{{label}}</label>
{{/if}}
{{#each _options as |op|}}
    <div class="field" >
        {{#ui-checkbox value=op.value  }}{{op.label}}{{/ui-checkbox}}
    </div>
{{/each}}

{{yield}}
