<div class="ui-link">
    {{#each model as |item index|}}
        <table class="ui very basic table">
            <tr>
                <td>
                    <label for="">链接 {{index}}</label>
                </td>
                <td>
                    {{#ui-form-input type="url" value=item.value}}
                    {{/ui-form-input}}
                </td>
                <td rowspan="2">
                    <a {{action 'removeLink' item}}>删除</a>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    <label for="">名称 {{index}}</label>
                </td>
                <td width="60%">
                    {{#ui-form-input type="text" value=item.name}}
                    {{/ui-form-input}}
                </td>
                <td></td>
            </tr>
        </table>
    {{/each}}
</div>
<a {{action 'addLink'}} class="ui icon button">
    <i class="plus icon"></i>
    添加链接
</a>