.hljs {
  background: none;
}

pre {
  display: block;
  /*padding: 9.5px;*/
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #616469;
  background-color: #f5f5f5;
  /*border: 1px solid #cccccc;*/
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px 0;
  padding-left: 10px;
}
