{{#if (has-block-params)}}
    {{#each _tabs as |ta|}}
        {{yield ta}}
    {{/each}}
{{else}}
    {{#each _tabs as |ta|}}
        <a class="item" data-tab="{{ta}}" >{{ta}}</a>
    {{/each}}
{{/if}}
