<div class="ui container">
    <div class="ui grid">
        <UiColumn @wide={{4}}>
            <div class="four wide column">
                <div class="ui visible secondary vertical menu" style="top:70px;left:inherit">
                    <div class="ui red header item">
                        Layout
                    </div>
                    <LinkTo @route="ui-container" class="item">ui-container</LinkTo>
                    <LinkTo @route="ui-text-container" class="item">ui-text-container</LinkTo>
                    <LinkTo @route="layout" class="item">layout</LinkTo>

                    <div class="ui red header item">
                        Button
                    </div>
                    <LinkTo @route="ui-button" class="item">ui-button</LinkTo>
                    <LinkTo @route="ui-animated-button" class="item">ui-animated-button</LinkTo>
                    <LinkTo @route="ui-labeled-button" class="item">ui-labeled-button</LinkTo>
                    <LinkTo @route="ui-left-labeled-button" class="item">ui-left-labeled-button</LinkTo>

                    <div class="ui red header item">
                        Menu
                    </div>
                    <LinkTo @route="ui-menu" class="item">ui-menu</LinkTo>
                    <LinkTo @route="ui-vertical-menu" class="item">ui-vertical-menu</LinkTo>
                    <LinkTo @route="ui-tab-menu" class="item">ui-tab-menu</LinkTo>
                    <LinkTo @route="ui-dropdown-menu" class="item">ui-dropdown-menu</LinkTo>

                    <div class="ui red header item">
                        Select
                    </div>
                    <LinkTo @route="ui-select" class="item">ui-select</LinkTo>
                    <LinkTo @route="ui-multi-select" class="item">ui-multi-select</LinkTo>

                    <div class="ui red header item">
                        Input
                    </div>
                    <LinkTo @route="ui-input" class="item">ui-input</LinkTo>
                    <LinkTo @route="ui-date-input" class="item">ui-date-input</LinkTo>
                    <LinkTo @route="ui-date-time-input" class="item">ui-date-time-input</LinkTo>
                    <LinkTo @route="ui-input-tags" class="item">ui-input-tags</LinkTo>

                    <div class="ui red header item">
                        Segment
                    </div>
                    <LinkTo @route="ui-segment" class="item">ui-segment</LinkTo>

                    <div class="ui red header item">
                        Checkbox
                    </div>
                    <LinkTo @route="ui-checkbox" class="item">ui-checkbox</LinkTo>
                    <LinkTo @route="ui-checkbox-group" class="item">ui-checkbox-group</LinkTo>
                    <LinkTo @route="ui-radio-group" class="item">ui-radio-group</LinkTo>

                    <div class="ui red header item">
                        Label
                    </div>
                    <LinkTo @route="ui-label" class="item">ui-label</LinkTo>
                    <LinkTo @route="ui-pointing-label" class="item">ui-pointing-label</LinkTo>

                    <div class="ui red header item">
                        Form
                    </div>
                    <LinkTo @route="ui-form-input" class="item">ui-form-input</LinkTo>

                    <div class="ui red header item">
                        Modal
                    </div>
                    <LinkTo @route="ui-modal" class="item">ui-modal</LinkTo>

                    <div class="ui red header item">
                        Popup
                    </div>
                    <LinkTo @route="ui-popup" class="item">ui-popup</LinkTo>


                    <div class="ui red header item">
                        Progress
                    </div>
                    <LinkTo @route="ui-progress" class="item">ui-progress</LinkTo>

                    <div class="ui red header item">
                        Message
                    </div>
                    <LinkTo @route="ui-message" class="item">ui-message</LinkTo>

                    <div class="ui red header item">
                        File
                    </div>
                    <LinkTo @route="file-input" class="item">file-input</LinkTo>
                    <LinkTo @route="ui-uploader" class="item">ui-uploader</LinkTo>
                </div>
            </div>
        </UiColumn>
        <UiColumn @wide={{12}}>
            {{#if this.host}}
            <div class="ui segment">
                <a href="{{this.host}}" target="_blank" rel="noopener noreferrer">See {{this.routeName}} Doc</a>
            </div>
            {{/if}}
            {{outlet}}
        </UiColumn>
    </div>
</div>