<div class="ui container">
    <div class="ui grid">
        {{#ui-column wide=4 }}
        <div class="four wide column" >
            <div class="ui visible secondary vertical menu" style="top:70px;left:inherit" >
                <div class="ui red header item">
                    Layout
                </div>
                {{#link-to "ui-container" class="item"}}ui-container{{/link-to}} 
                {{#link-to "ui-text-container" class="item"}}ui-text-container{{/link-to}}
                {{#link-to "layout" class="item"}}layout{{/link-to}} 

                <div class="ui red header item">
                    Button
                </div>
                {{#link-to "ui-button" class="item"}}ui-button{{/link-to}} 
                {{#link-to "ui-animated-button" class="item"}}ui-animated-button{{/link-to}} 
                {{#link-to "ui-labeled-button" class="item"}}ui-labeled-button{{/link-to}}
                {{#link-to "ui-left-labeled-button" class="item"}}ui-left-labeled-button{{/link-to}} 

                <div class="ui red header item">
                    Menu
                </div>
                {{#link-to "ui-menu" class="item"}}ui-menu{{/link-to}} 
                {{#link-to "ui-vertical-menu" class="item"}}ui-vertical-menu{{/link-to}} 
                {{#link-to "ui-tab-menu" class="item"}}ui-tab-menu{{/link-to}} 
                {{#link-to "ui-dropdown-menu" class="item"}}ui-dropdown-menu{{/link-to}} 
                
                <div class="ui red header item">
                    Select
                </div>
                {{#link-to "ui-select" class="item"}}ui-select{{/link-to}} 
                {{#link-to "ui-multi-select" class="item"}}ui-multi-select{{/link-to}} 
                
                <div class="ui red header item">
                    Input
                </div>
                {{#link-to "ui-input" class="item"}}ui-input{{/link-to}}
                {{#link-to "ui-date-input" class="item"}}ui-date-input{{/link-to}}
                {{#link-to "ui-date-time-input" class="item"}}ui-date-time-input{{/link-to}} 
                {{#link-to "ui-input-tags" class="item"}}ui-input-tags{{/link-to}} 
                
                <div class="ui red header item">
                    Segment
                </div>
                {{#link-to "ui-segment" class="item"}}ui-segment{{/link-to}} 
                                
                <div class="ui red header item">
                    Checkbox
                </div>
                {{#link-to "ui-checkbox" class="item"}}ui-checkbox{{/link-to}} 
                {{#link-to "ui-checkbox-group" class="item"}}ui-checkbox-group{{/link-to}} 
                {{#link-to "ui-radio-group" class="item"}}ui-radio-group{{/link-to}} 
                
                <div class="ui red header item">
                    Label
                </div>
                {{#link-to "ui-label" class="item"}}ui-label{{/link-to}} 
                {{#link-to "ui-pointing-label" class="item"}}ui-pointing-label{{/link-to}} 
                
                <div class="ui red header item">
                    Form
                </div>
                {{#link-to "ui-form" class="item"}}ui-form{{/link-to}} 
                {{#link-to "ui-form-input" class="item"}}ui-form-input{{/link-to}} 
                
                <div class="ui red header item">
                    Modal
                </div>
                {{#link-to "ui-modal" class="item"}}ui-modal{{/link-to}}
                
                <div class="ui red header item">
                    Popup
                </div>
                {{#link-to "ui-popup" class="item"}}ui-popup{{/link-to}} 

                
                <div class="ui red header item">
                    Progress
                </div>
                {{#link-to "ui-progress" class="item"}}ui-progress{{/link-to}}

                <div class="ui red header item">
                    Message
                </div>
                {{#link-to "ui-message" class="item"}}ui-message{{/link-to}} 

                <div class="ui red header item">
                    File
                </div>
                {{#link-to "file-input" class="item"}}file-input{{/link-to}} 
                {{#link-to "ui-uploader" class="item"}}ui-uploader{{/link-to}} 
            </div>
        </div>
        {{/ui-column}}
        {{#ui-column wide=12 }}
            {{#if host}}
            <div class="ui segment">
                <a href="{{host}}" target="_blank" >See {{routeName}} Doc</a>
            </div>
            {{/if}}
          {{outlet}}
        {{/ui-column}}
    </div>
</div>
