<div class="ui header">
  Left menu + Right content
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <UiColumn @wide={{4}}>
    <div class="ui segment">
      left
    </div>
  </UiColumn>
  <UiColumn @wide={{12}}>
    <div class="ui segment">
      main content
    </div>
  </UiColumn>
</div>
{{!-- template-lint-disable no-inline-styles --}}
<div style="height:20px;"></div>
<CodeHighlight @code={{code-show 'layout' 0}} />
<div class="ui header">
  Left menu + Right content
</div>
<div class="ui divider"></div>
<div class="ui contianer">
  <div class="ui grid">
    <UiColumn @wide={{6}}>
      <div class="ui vertical menu">
        {{!-- template-lint-disable link-href-attributes --}}
        <a class="active teal item">
          Inbox
          <div class="ui teal pointing left label">1</div>
        </a>
        <a class="item">
          Spam
          <div class="ui label">51</div>
        </a>
        <a class="item">
          Updates
          <div class="ui label">1</div>
        </a>
        <div class="item">
          <div class="ui transparent icon input">
            {{!-- template-lint-disable require-input-label --}}
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </UiColumn>
    <UiColumn @wide={{10}}>
      <div class="ui segment">
        <div class="ui form">
          <div class="field">
            <label for="">name</label>
            {{!-- template-lint-disable require-input-label --}}
            <input type="text">
          </div>
          <button class="ui button" type="button">submit</button>
        </div>
      </div>
    </UiColumn>
  </div>
</div>
<div style="height:20px;"></div>
<CodeHighlight @code={{code-show 'layout' 1}} />
<div class="ui header">
  top menu+left menu + right content
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <UiColumn @wide={{16}}>
    <div class="ui menu">
      <div class="item">
        Home
      </div>
    </div>
  </UiColumn>
  <UiColumn @wide={{4}}>
    <div class="ui segment">
      left
    </div>
  </UiColumn>
  <UiColumn @wide={{12}}>
    <div class="ui segment">
      main content
    </div>
  </UiColumn>
</div>
<div style="height:20px;"></div>
<CodeHighlight @code={{code-show 'layout' 2}}/>