<div class="ui header">
  left menu + right content
</div>
<div class="ui divider"></div>
<UiGrid>
  <UiColumn @wide={{4}}>
    <div class="ui segment">
      left
    </div>
  </UiColumn>
  <UiColumn @wide={{12}}>
    <div class="ui segment">
      main content
    </div>
  </UiColumn>
</UiGrid>
<div style="height:20px;"></div>
{{code-highlight code=(code-show 'layout' 0) }}
<div class="ui header">
  example
</div>
<UiContainer>
  <UiGrid>
    <UiColumn @wide={{6}}>
      <UiVerticalMenu>
        <a class="active teal item">
          Inbox
          <div class="ui teal pointing left label">1</div>
        </a>
        <a class="item">
          Spam
          <div class="ui label">51</div>
        </a>
        <a class="item">
          Updates
          <div class="ui label">1</div>
        </a>
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
          </div>
        </div>
      </UiVerticalMenu>
    </UiColumn>
    <UiColumn @wide={{10}}>
      <UiSegment>
        <div class="ui form">
          <div class="field">
            <label for="">name</label>
            <input type="text">
          </div>
          <button class="ui button" type="button">submit</button>
        </div>
      </UiSegment>
    </UiColumn>
  </UiGrid>
</UiContainer>

<div class="ui header">
  top menu+left menu + right content
</div>
<div class="ui divider"></div>
<UiGrid>
  <UiRow>
    <UiColumn @wide={{16}}>
      <UiMenu>
        <div class="item">
          Home
        </div>
      </UiMenu>
    </UiColumn>
  </UiRow>
  <UiColumn @wide={{4}}>
    <div class="ui segment">
      left
    </div>
  </UiColumn>
  <UiColumn @wide={{12}}>
    <div class="ui segment">
      main content
    </div>
  </UiColumn>
</UiGrid>
<div style="height:20px;"></div>
{{code-highlight code=(code-show 'layout' 1) }}