<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-animated-button' 0) }}
                </div>          
                <div class="ui segment">
                    <UiAnimatedButton as |ab|>
                        <div class="{{ab.visible}}">Next</div>
                        <div class="{{ab.hidden}}">
                            <i class="right arrow icon"></i>
                        </div>
                    </UiAnimatedButton>
                </div>
            </div>
        </div>
    </div>
</div>