<UiContainer>
<style type="text/css">
    .t {
        margin-top: 50px !important;
        margin-top: -1rem;
        margin-bottom: -1rem;
        margin-left: 0.5rem !important;
        margin-right: -1rem;
    }

    .t .column {
        position: relative;
        display: inline-block;
        width: 6.25%;
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: top;
        background-color: #ccc;
        margin-right: 10px;
    }
</style>
  <pre>
    \{{#ui-container}}\{{/ui-container}}
  </pre>
   <div class="ui grid t">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column "></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
   </div>
</UiContainer>