<div class="ui grid" >
    <div class="row">
        <div class="column">
            <CodeHighlight></CodeHighlight>
            <div class="ui segment">
                <UiDateInput @value={{"2016-03-04"}} ></UiDateInput>
                <span>{{this.value}}</span>
            </div>
        </div>
    </div>
</div>