<div class="ui grid">
  <div class="row">
    <div class="column">
      <CodeHighlight @code={{code-show "ui-date-time-input" 0}} />
      <div class="ui segment">
        <UiDateTimeInput
          @value="2016-03-04 12:12"
          @onChange={{set this "value"}}
        />
        <span>{{this.value}}</span>
      </div>
    </div>
  </div>
</div>