<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
				<div class="ui secondary segment">
					<code class="code xml">
						\{{#ui-input focus=true}}\{{/ui-input}}
					</code>
				</div>
				<div class="ui segment">
					{{#ui-input focus=true}}{{/ui-input}}
				</div>

				<div class="ui secondary segment">
					<code class="code xml">
						\{{#ui-input theme="icon" loading=true}}<i class="search icon"></i>\{{/ui-input}}
					</code>
				</div>
				<div class="ui segment">
					{{#ui-input theme="icon" loading=true}}<i class="search icon"></i>{{/ui-input}}
				</div>

				<div class="ui secondary segment">
					<code class="code xml">
						\{{#ui-input error=true}}\{{/ui-input}}
					</code>
				</div>
				<div class="ui segment">
					{{#ui-input error=true}}{{/ui-input}}
				</div>

				<div class="ui secondary segment">
					<code class="code xml">
						\{{#ui-input disabled=true}}\{{/ui-input}}
					</code>
				</div>
				<div class="ui segment">
					{{#ui-input disabled=true value="search" }}{{/ui-input}}
				</div>

				<div class="ui secondary segment">
					<code class="code xml">
						\{{#ui-input readonly=true}}\{{/ui-input}}
					</code>
				</div>
				<div class="ui segment">
					{{#ui-input readonly=true value="search" }}{{/ui-input}}
				</div>
				
				<div class="ui secondary segment">
					<code class="code xml">
		                \{{#ui-input onFocus=(action 'onfocus')}}\{{/ui-input}}
					</code>
				</div>
				<div class="ui segment">
					<label for="">email</label>
					{{#ui-input onFocus=(action 'onfocus')}}{{/ui-input}}
					{{result}} focus
				</div>
          	</div>

          	<div class="ui segments">
          		<div class="ui segment">
					{{#ui-input theme="fluid icon" value="search" }}
							<i class="search icon"></i>
					{{/ui-input}}
				</div>

				<div class="html ui segment">
					{{#ui-input theme="fluid action" value="fluid" }}
						{{#ui-button}}search{{/ui-button}}
					{{/ui-input}}
				</div>

				<div class="html ui segment">
					{{#ui-input theme="mini icon" value="search" }}
						<i class="search icon"></i>
					{{/ui-input}}
				</div>

				<div class="html ui segment">
					{{#ui-input theme="small icon" value="search" }}
						<i class="search icon"></i>
					{{/ui-input}}
				</div>

				<div class="html ui segment">
					{{#ui-input theme="big icon" value="search" }}
						<i class="search icon"></i>
					{{/ui-input}}
				</div>

				<div class="html ui segment">
					{{#ui-input theme="huge icon" value="search" }}
						<i class="search icon"></i>
					{{/ui-input}}
				</div>
          	</div>
        </div>
    </div>
</div>