<div class="ui grid">
  <div class="row">
    <div class="column">
      <CodeHighlight @code={{code-show "ui-input-tags" 0}} />
      <div class="ui segment">
        <UiInputTags @value={{this.value}} @onChange={{set this "value"}} />
        <p>{{this.valueShow}}</p>
      </div>
    </div>
  </div>
</div>