<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-left-labeled-button' 0)}}
                </div>           
                <div class="ui segment">
                     <UiLeftLabeledButton>
                        <UiPointingLabel @theme="basic blue" @direction="right">2,148</UiPointingLabel>
                        <UiButton @theme="blue">
                            <i class="heart icon" ></i>
                        </UiButton>
                    </UiLeftLabeledButton>
                </div>
            </div>
        </div>
    </div>
</div>

            
