<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-labeled-button' 0)}}
                </div>           
                 <div class="ui segment">
                    <UiLabeledButton>
                        <UiButton @theme="primary">
                            <i class="heart icon" ></i>
                        </UiButton>
                        <UiLabel @theme="basic">2,148</UiLabel>
                    </UiLabeledButton>               
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-labeled-button' 1)}}
                </div>           
                 <div class="ui segment">
                    <UiLabeledButton>
                        <UiButton @theme="red">
                            <i class="heart icon" ></i>
                        </UiButton>
                        <UiPointingLabel @theme="basic red" @direction="left">2,148</UiPointingLabel>
                    </UiLabeledButton>
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-labeled-button' 2)}}
                </div>           
                <div class="ui segment">
                    <UiLabeledButton>
                        <UiButton @theme="basic blue">
                            <i class="heart icon" ></i>
                        </UiButton>
                        <UiPointingLabel @theme="basic blue" @direction="left">2,148</UiPointingLabel>
                    </UiLabeledButton>
                </div>
            </div>
        </div>
    </div>
</div>

            






  