<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-labeled-button' 0)}}
                </div>           
                 <div class="ui segment">
                    {{#ui-labeled-button}}
                        {{#ui-button theme="primary" }}
                            <i class="heart icon" ></i>
                        {{/ui-button}}
                        {{#ui-label theme="basic" }}2,148{{/ui-label}}
                    {{/ui-labeled-button}}               
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-labeled-button' 1)}}
                </div>           
                 <div class="ui segment">
                    {{#ui-labeled-button}}
                        {{#ui-button theme="red" }}
                            <i class="heart icon" ></i>
                        {{/ui-button}}
                        {{#ui-pointing-label theme="basic red" direction="left" }}2,148{{/ui-pointing-label}}
                    {{/ui-labeled-button}}
                </div>

                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-labeled-button' 2)}}
                </div>           
                <div class="ui segment">
                    {{#ui-labeled-button}}
                        {{#ui-button theme="basic blue" }}
                            <i class="heart icon" ></i>
                        {{/ui-button}}
                        {{#ui-pointing-label theme="basic blue" direction="left" }}2,148{{/ui-pointing-label}}
                    {{/ui-labeled-button}}
                </div>
            </div>
        </div>
    </div>
</div>

            






  