<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-left-labeled-button' 0)}}
                </div>           
                <div class="ui segment">
                     {{#ui-left-labeled-button}}
                        {{#ui-pointing-label theme="basic blue" direction="right" }}2,148{{/ui-pointing-label}}
                        {{#ui-button theme="blue" }}
                            <i class="heart icon" ></i>
                        {{/ui-button}}
                    {{/ui-left-labeled-button}}
                </div>
            </div>
        </div>
    </div>
</div>

            
