{{outlet}}

<h4 class="ui header">focus</h4>
<div class="html ui top attached segment">
    <div class="ui labeled input">
      <div class="ui label">
        http://
      </div>
      {{!-- {{#input placeholder="input text" value="search" }}{{/input}} --}}
    </div>
</div>


<h4 class="ui header">right labeled</h4>
<div class="html ui top attached segment">
    <div class="ui right labeled input">
      {{!-- {{#input placeholder="Find domain" value="search" }}{{/input}} --}}
      {{#ui-dropdown theme="label" }}
            <div class="text">.com</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">.com</div>
              <div class="item">.net</div>
              <div class="item">.org</div>
            </div>
      {{/ui-dropdown}}
    </div>
</div>
