<div class="ui container">
  <div class="ui dividing header">ui progress</div>
  <CodeHighlight @code={{(code-show 'ui-progress' 0)}} />
  <UiProgress @percent={{this.value}} ></UiProgress>
  <div class="ui grid">
    <div class="row">
      <button class="ui green button" type="button" {{on "click" this.plus }}>+</button>
      <button class="ui button" type="button" {{on "click" this.minus }}>-</button>
    </div>
  </div>
</div>