<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-button' 0)}}
                </div>

                <div class="ui segment">
                    {{#ui-popup target=target tagName='button' class="ui button"}}show me{{/ui-popup}}
                    {{#ui-popup-content target=(mut target) }}
                        <div class="header">
                            i am popup
                        </div>
                    {{/ui-popup-content}}
                </div>         
            </div>
        </div>
    </div>
</div>