<div class="ui container" >
    <div class="ui dividing header" >ui progress</div>
    <div class="ui two column grid" >
        <div class="row" >
            {{ui-progress percent=value }}
        </div>
        <div class="row" >
            {{ui-input type="number" value=value}}
        </div>
    </div>
</div>