<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    \{{#ui-segment tab='second'}}second\{{/ui-segment}}
                </div>           
                <div class="ui segment">
                    {{#ui-segment tab='second'}}
                        second
                    {{/ui-segment}}
                </div>
            </div>
        </div>
    </div>
</div>