<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
            	<div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-select' 0) }}
            	</div>
            	<div class="ui segment">
					<div class="meta" >
						{{value}}
					</div>
            		{{ui-select label="select brand" placeholder="select brand" search=true options=options.options value=value}}
            	</div>
			</div>
		</div>
    </div>
</div>