<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-tab-menu' 0) }}
                </div>           
                <div class="ui segment">
                	<UiTabMenu  @active={{"first"}}>
                		<a class="item" data-tab="first" >first</a>
                        <a class="item" data-tab="second" >second</a>
                	</UiTabMenu>
                	<UiTabSegment @tab="first" @active={{true}}>
                		first
                	</UiTabSegment>
                	<UiTabSegment @tab="second">
                		second
                	</UiTabSegment>
                </div>
            </div>
        </div>
    </div>
</div>