<div class="ui grid" >
    <div class="row">
        <div class="column">
            <div class="ui segments">
                <div class="ui secondary segment">
                    {{code-highlight code=(code-show 'ui-tab-menu' 0) }}
                </div>           
                <div class="ui segment">
                	{{#ui-tab-menu tabs='first,second' active='first' }}
                		
                	{{/ui-tab-menu}}
                	{{#ui-tab-segment tab='first' active=true}}
                		first
                	{{/ui-tab-segment}}
                	{{#ui-tab-segment tab='second'}}
                		second
                	{{/ui-tab-segment}}
                </div>
            </div>
        </div>
    </div>
</div>