<div class="ui grid" >
    <div class="row">
        <div class="column">
                  <CodeHighlight @code={{code-show 'ui-tab-menu' 0}} ></CodeHighlight>
            <div class="ui segments">
                <div class="ui segment">
                	<UiTabMenu  @active={{"first"}}>
                		{{!-- template-lint-disable link-href-attributes --}}
                  <a class="item" data-tab="first" >first</a>
                        <a class="item" data-tab="second" >second</a>
                	</UiTabMenu>
                	<UiTabSegment @tab="first" @active={{true}}>
                		first
                	</UiTabSegment>
                	<UiTabSegment @tab="second">
                		second
                	</UiTabSegment>
                </div>
            </div>
        </div>
    </div>
</div>