<div class="ui container" >
    <div class="ui dividing header" >ui uploader</div>
    <div class="ui grid" >
        <div class="column" >
            <div class="ui form" >
                <div class="field">
                    {{code-highlight code=(code-show 'ui-uploader' 0)}}
                </div>
                <UiUploader @multiple={{true}} @url="/upload" @autoUpload={{true}} @uploadStart="uploadStart" @uploadProgress="uploadProgress" @uploadSucess="uploadSucess" @deleteFile="deleteFile"></UiUploader>
            </div>
        </div>
    </div>
</div>